.Home {
  margin: 0 20%;
  margin-top: 90px;
}

.FirstPart {
  width: 65%;
  float: left;
  height: 90vh;
}

.SecondPart {
  float: left;
  position: fixed;
  left: 60%;
  margin-right: 20%;
  padding-left: 20px;
  height: 90vh;
}

.Footer {
  width: 100%;
}

.Footer a {
  float: left;
  margin: 5px;
  text-decoration: none;
  color: #ccc;
  font-size: 0.8em;
}
