.Suggestion {
  width: 100%;
  margin-top: 9px;
  color: #8e8e8e;
}

.Suggestion h4 {
  display: inline;
}
.Suggestion .SeeAll {
  float: right;
  text-decoration: none;
  font-size: 0.8em;
  color: rgb(27, 27, 27);
  font-weight: 600;
}
