.SearchBar input {
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  text-align: center;
  padding: 5px;
  outline: none;
  width: 100%;
}

.Hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
